@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (max-width:500px) {

    .links {
        display: none;
    }
    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .prouductParent{
        margin-top: 139px;
    }
    .img{
        width: 20vw;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .motion1{
        display:none;
    }
    /* .footer-link{
        text-align: center;
    } */
     .btn{
        display: flex;
        flex-direction: column;
     }
}